
@font-face{
    font-family: 'Roboto-Regular';
    src: url('./asset/Roboto-Regular.ttf')
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url('./asset/Roboto-Bold.ttf')
}

body{
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    position: relative;
    padding: 0;
    margin: 0 auto;
    /* background:  0% / 15% 80% url(./img/bubbles.svg); 
  
     */
    
     min-width: 500px;

  
}

#content{
    display: flex;
    flex-direction: column;
  
   
}
/* HEADER */
#header{
    position: inherit;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto-Bold';
   justify-content: space-between;
   border-bottom: 3px solid grey;
  
}
#leftHeader{
    display: flex;
    align-items: center;
}
.logo{
   height: 100px;
  
}



#pageview{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 3px 10px;
    font-family: 'Roboto-Bold';
}

button:active{
    position: relative;
    top: 5px;
}

#pagetitle{
    text-align: center;
    border-radius: 0px;
}
/* Body SEction */
#pagetitle, .fillerdiv{
    border-left: 3px solid grey;
    border-right: 3px solid grey;
}
#pagetitle, #bottom{
    width: 500px;
    margin: 0px;
    padding-top: 15px;
    background-color: white;

}
.fillerdiv{
    background-color: rgb(255, 255, 255);

    padding: 40px 55px;
  

   
}

.body{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/bubblecup.svg); 
    background-repeat: space;
    background-attachment: scroll, local;
    background-size: 12%;
   
}
.bodytext{
    text-align: left;
    
}
.bubblecups{
   
    position: relative;
text-align: center;
width: 320px;
height:  350px;
padding: 15px 35px;
padding-top: 120px;
background-color: rgb(195, 222, 240);
/* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
 */
 clip-path: polygon(55% 25%, 50% 0%, 40% 0%, 45% 25%, 0% 25%, 0% 100%, 100% 100%, 100% 25%);
 margin-bottom: 15px;
 

}
p{
    font-size: 20px; 
    position: relative;
 white-space: break-spaces;  
}


.boba{
    width: 300px;
    height:  80px;
    position: absolute;
    background:   5% / 14% 90% round  url(./img/bubbles.svg); 
 background-position: 0% 5%;
 bottom: 0%;
 
}

.pictureDiv>img{
    width: 125px;
    border-radius: 50%;
  
}
/* Topping image */
img.toppings{
    position: relative;
    width: 300px;
    height: 300px;

}

div#toppings{
   height: 180px;
    overflow: hidden;
  
    
}

/* footer */
.footer{
    height: 25px;
    border-top: 2px solid grey;

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#bottom{
    border-top: 3px solid grey;
    margin: 0px;
    padding: 0px;
}